html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

  .header {
      height: 145px;
      background: rgb(12, 27, 32);
      margin: 0auto;
   
  }
  body {
      height: 1200px;
      background:linear-gradient(#f3ada1, #85bdb1);
  }
  .header-logo {

    font-size: 55px;
    font-weight: bold;
    float: left;
    color: #fff;
    padding: 35px 50px;
    letter-spacing: 15px;
    
  }
  .works-wrapper {
    height: 500px;
    padding-bottom: 80px;
    padding-top: 100px;
    text-align: center;
    font-size: 110px;
  }
  .work {
    padding-top: 200px;
    display: inline-block;
    width: 25%;
    float: left;
    color: white;
    font-weight: normal;
    

  }

  
